* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    background-image: url(../recursos/curso1.jpg);
  }

  .fondo {
    background-color: rgb(124, 22, 15);
  }

  .marca {
    padding-top: 15px;
  }

  .header {
    background-color: rgb(124, 22, 15);
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
  }
  
  .img-logo {
    width: 250px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 30px;
  }
  
  nav a:hover {
    font-weight: bolder;
    font-size: 20px;
  }
  
  .img-logo1 {
    width: 100%;
    height: 100%;
  }
  
  .divider {
    height: 100%;
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
  }
  
  footer {
    color: coral;
    background-color: rgba(3, 0, 0, 0.568);
  }
  
  footer h3 {
    display: contents;
    justify-content: flex-end;
  }

  .divider div{
    background: black;
    color: white;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.divider:hover{
    cursor: pointer;
}

.divider:hover div{
    width: 150px;
    visibility: visible;
    opacity: 0.7; 
}

/*










.main {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "prod1 . ."
    "prod2 . ."
    "prod3 . ."
    "fotter fotter fotter";
  height: 70vh;

}

.banner { 
  grid-area: banner;
background-color: blueviolet; }

.prod1 { grid-area: prod1; }

.prod2 { grid-area: prod2; }

.prod3 { grid-area: prod3; }

.fotter { grid-area: fotter; }




} */
