*{
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    /* font-family: Arial, Helvetica, sans-serif; */
}

main {
    background-color: rgba(0, 0, 0, 0.829);
}

.fondo {
    background-color: rgb(124, 22, 15);
}

.marca {
    padding-top: 15px;
}

/* .header {
    background-color: rgb(124, 22, 15);
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
  } */
/* .img-logo {
    width: 250px;
  } */


.io{
    margin-bottom: 0!important;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 30px;
}

nav a:hover {
    font-weight: bolder;
    font-size: 25px;
}

.titulo-desc{
    color: rgb(15, 221, 228);
}

.form{
    color: white;
}

.img-logo1 {
    width: 100%;
    height: 100%;
}

.divider {
    height: 100%;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
}

footer {
    color: rgb(0, 0, 0);
    background-color: rgb(124, 22, 15);
}

footer h3 {
    display: flex;
    justify-content: flex-end;
}

.divider div{
    background: black;
    color: white;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.divider:hover{
    cursor: pointer;
}

.divider:hover div{
    width: 150px;
    visibility: visible;
    opacity: 0.7; 
}

main p {
    color: white;
}

#fondo{
    background-color: rgb(124, 22, 15)!important;
}

.text-dark.redes{
    color: white!important;
    text-decoration: none!important;
}
